astroid==2.14.2
pylint==2.16.2
black~=24.1
stestr>=3.0.0
qiskit-sphinx-theme~=1.16.0rc1
sphinx-autodoc-typehints
jupyter-sphinx
pygments>=2.4
reno>=3.4.0
numpy
scipy

# The following line is needed until
# https://github.com/jupyter/jupyter-sphinx/pull/226 is resolved.
ipykernel>=4.5.1
matplotlib>=3.3.0

# JAX not on Windows
jax; sys_platform == 'darwin' or sys_platform == 'linux'
jaxlib; sys_platform == 'darwin' or sys_platform == 'linux'

# Tensorflow does not yet have a 3.12 version
tensorflow-cpu; (sys_platform != 'darwin' or platform_machine != 'arm64') and python_version<'3.12'
tensorflow-macos; sys_platform == 'darwin' and platform_machine == 'arm64' and python_version<'3.12'